.c-row{
    display: flex;
    gap: 10px;
}
#description{
    min-width: 350px
}

.label{
    margin-top: 10px;
}

.hidden{
    display: none !important;
}

/*videos table responsive style*/
.row-id{
    width: 20px;
}

.jsmartable-subcol a{
    max-width: 100px;
    word-break: break-all;
}

.sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}
.sortable li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 1.4em;
    position: relative;
    cursor: pointer;
}
.sortable li .ui-icon {
    position: absolute;
    margin-left: -1.3em;
    top: 20px;
}